In [2]:
import pandas
import numpy as np
import matplotlib as plt
%matplotlib inline

/usr/local/lib/python2.7/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
data = pandas.read_csv('./ydata-fp-td-clicks-v2_0.20111002')

In [4]:
data.head()

  1317513291 id-560620 0 |user 1 9 11 13 23 16 18 17 19 15 43 14 39 30 66 50 27 104 20 |id-552077 |id-555224 |id-555528 |id-559744 |id-559855 |id-560290 |id-560518 |id-560620 |id-563115 |id-563582 |id-563643 |id-563787 |id-563846 |id-563938 |id-564335 |id-564418 |id-564604 |id-565364 |id-565479 |id-565515 |id-565533 |id-565561 |id-565589 |id-565648 |id-565747 |id-565822
0  1317513291 id-565648 0 |user 1 9 11 13 16 15 1...
1  1317513291 id-563115 0 |user 1 8 11 36 13 22 2...
2  1317513292 id-552077 0 |user 1 7 11 37 13 23 1...
3  1317513292 id-564335 0 |user 1 |id-552077 |id-...
4  1317513292 id-565589 0 |user 1 5 11 13 22 23 1...

[5 rows x 1 columns]